[submodule "i3/i3blocks/scripts"]
	path = i3/i3blocks/scripts
	url = git@github.com:gmatiukhin/i3blocks-contrib.git
[submodule "nvim"]
	path = nvim
  url = git@github.com:gmatiukhin/dotfiles.git
[submodule "polybar/polybar-scripts"]
	path = polybar/polybar-scripts
	url = https://github.com/polybar/polybar-scripts.git
[submodule "polybar/scripts/polybar-speedtest"]
	path = polybar/scripts/polybar-speedtest
	url = https://github.com/haideralipunjabi/polybar-speedtest.git
