*

!*/

!mimeapps.list

!.gitignore
!.gitmodules

!scripts/*
!images/*
!fish/**/*
fish/completions
!kitty/*
!neofetch/*
!nvim/*
!fcitx5/*
fcitx5/conf/cached_layouts
!Kvantum/*
!eww/*
!mako/*
!nwg-look/*
!qt5ct/qt5ct.conf
!qt6ct/qt6ct.conf
!systemd/**
!lsd/*
!zathura/*
