[submodule "i3/i3blocks/scripts"]
	path = i3/i3blocks/scripts
	url = https://github.com/gmatiukhin/i3blocks-contrib
[submodule "nvim"]
	path = nvim
	url = https://github.com/gmatiukhin/nvim
[submodule "polybar/polybar-scripts"]
	path = polybar/polybar-scripts
	url = https://github.com/polybar/polybar-scripts.git
[submodule "polybar/scripts/polybar-speedtest"]
	path = polybar/scripts/polybar-speedtest
	url = https://github.com/haideralipunjabi/polybar-speedtest.git
