*

!*/

!mimeapps.list

!.gitignore
!.gitmodules

!scripts/**
!images/**
!fish/**
fish/completions
!kitty/**
!neofetch/**
!nvim/**
!fcitx5/**
fcitx5/conf/cached_layouts
!Kvantum/**
!eww/**
!mako/**
!nwg-look/**
!qt5ct/**
!qt6ct/**
!systemd/**
!lsd/*
!zathura/*
!gitconfig
!gtk-*/**
!greetd/**
